$background-color: #8aa7ff;
$header-color: Black;

body {
  background-color: $background-color;
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: $header-color;
  text-align: center;
}