$background-color: #8aa7ff;
$header-color: Black;

body {
  background-color: $background-color;
}

canvas {
    margin: 0 auto;
    display: block;
}

h1 {
  color: $header-color;
  text-align: center;
}