extends  template

block content
    div(class="contacts")
        h1(class="contacts_title") Contact me

        div(class="contacts_item")
            a(class="contacts_item_link" href="https://www.google.com.ua/maps/place/Kiev" target="_blank")
                img(src="assets/site/social_icons/location.svg" alt="location")
            div(class="contacts_item_text1") Location:
            span(class="contacts_item_text2")  Kiev

        div(class="contacts_item")
            a(class="contacts_item_link" href="tel:+380638419651")
                img(src="assets/site/social_icons/phone.svg" alt="phone")
            div(class="contacts_item_text1") Phone:
            span(class="contacts_item_text2")  +380 (63) 841 96 51

        div(class="contacts_item")
            a(class="contacts_item_link" href="mailto: dima.nazdratenko@gmail.com")
                img(src="assets/site/social_icons/mail.svg" alt="mail")
            div(class="contacts_item_text1") Mail:
            span(class="contacts_item_text2")  dima.nazdratenko@gmail.com

        div(class="contacts_item")
            a(class="contacts_item_link" href="skype:hitman3322?chat")
                img(src="assets/site/social_icons/skype.svg" alt="skype")
            div(class="contacts_item_text1") Skype:
            span(class="contacts_item_text2")  hitman3322

        div(class="contacts_item")
            a(class="contacts_item_link" href="https://telegram.me/DimaNazdratenko" target="_blank")
                img(src="assets/site/social_icons/telegram.svg" alt="telegram")
            div(class="contacts_item_text1") Telegram:
            span(class="contacts_item_text2")  @DimaNazdratenko

        div(class="contacts_item")
            a(class="contacts_item_link" href="https://www.messenger.com/t/DimaNazdratenko" target="_blank")
                img(src="assets/site/social_icons/messenger.svg" alt="messenger")
            div(class="contacts_item_text1") Messenger:
            span(class="contacts_item_text2")  DimaNazdratenko

