extends  template

block content
    div(class="cv")
        h1 Dmytro Nazdratenko
        div(class="cv_separator") Objective
        div(class="cv_text")
            | Getting experience and the further professional growth in development.
            | Interested in participation in challenging projects.

        div(class="cv_separator") Summary
        div(class="cv_text")
            ul
                li
                    | More than
                    b  3 years
                    |  experience in IT (QA engineer);
                li
                    | Experience with
                    b  JavaScript, HTML, CSS
                    |  and
                    b  SQL
                    | ;
                li
                    | Experience with Version control system
                    b  (Git)
                    | ;
                li
                    | Knowledge of
                    b  OOP, BEM
                    | ;
                li
                    | Experience with
                    b  NodeJS, PixiJS, npm, gulp, SASS
                    | ;
                li
                    |Experience in Automatization testing
                    b  (Behat, Mocha, Chai, Protractor)
                    | ;
                li
                    | Experience in developing Test artifacts
                    b  (Test Plan, Test Case, Test Suite)
                    | ;
                li
                    | Experience of working with Bug-tracking and Test Case Management systems
                    b  (JIRA, Mantis, TestRail)
                    | ;
                li
                    | Experience with web testing tools
                    b  (Firebug, Fiddler, XSS me, SQL inject me, Web Developer etc.)
                    | ;
                li
                    | Experience in cross platform testing using virtualization tool
                    b  (Oracle VirtualBox)
                    | ;
                li
                    | Understanding of
                    b  Software development lifecycle
                    |  (SDLC) and
                    b  Bug Lifecycle
                    | ;
                li
                    | Understanding of
                    b  Agile
                    |  and
                    b  Waterfall
                    |  methodologies;
                li
                    | Experience of administration and working with the
                    b  CRM System
                    | ;

        div(class="cv_text")
            b Personal qualities:
            ul
                li Strong analytical skills with a high attention to details;
                li Ability to work well as part of a team;
                li Capability of a quick learning and willingness to learn new technologies;
                li Good communication skills.


        div(class="cv_separator") Experience

        h1 as

        div(class="cv_separator") Education

        h1 as

        div(class="cv_separator") Language skills

        h1 as

        div(class="cv_separator") Additional information

        h1 as