extends  template

block content
    div(class="cv")
        a(class="btn btn-dark disabled mb-3" href="assets/site/cv/CV_Nazdratenko.pdf" download) Export to Pdf
        h1(class="cv_name") Dmytro Nazdratenko
        div(class="cv_separator") Objective
        div(class="cv_text")
            | Getting experience and the further professional growth in development.
            | Interested in participation in challenging projects.

        div(class="cv_separator") Summary
        div(class="cv_text")
            ul
                li More than #[b 3 years] experience in IT;
                li Experience with #[b JavaScript, HTML, CSS] and #[b SQL];
                li Experience with Version control system #[b (Git)];
                li Experience with #[b React, AngularJS, PixiJS, NodeJS (npm), gulp, sass, pug];
                li Knowledge of #[b OOP, BEM];
                li Experience in Automation testing #[b (Behat, Mocha, Chai, Protractor, Jasmine)];
                li Good understanding of #[b Page Object] pattern;
                li Experience in developing Test artifacts #[b (Test Plan, Test Case, Test Suite)];
                li Experience of working with Bug-tracking and Test Case Management systems #[b (JIRA, Mantis, TestRail)];
                li Experience with web testing tools #[b (Firebug, Fiddler, XSS me, SQL inject me, Web Developer etc.)];
                li Experience in cross platform testing using virtualization tool #[b (Oracle VirtualBox)];
                li Understanding of #[b Software development lifecycle] (SDLC) and #[b Bug Lifecycle];
                li Understanding of #[b Agile] and #[b Waterfall] methodologies;
                li Experience of administration and working with the #[b CRM System];

        div(class="cv_text")
            b Personal qualities:
            ul
                li Strong analytical skills with a high attention to details;
                li Ability to work well as part of a team;
                li Capability of a quick learning and willingness to learn new technologies;
                li Good communication skills.

        div(class="cv_separator") Experience
        div(class="cv_text")
            ul
                li #[b Infozahyst] (March 2018 - Present) #[br]
                    b Front-End Developer
                    p Development and improvement of current solution using:
                    ul
                        li JavaScript (ES6), AngularJS
                        li HTML5, CSS3, Pug, Stylus
                        li PixiJS
                        li NodeJS

                li #[b Pet-project] (look at github) #[br]
                    ul
                        li Working on own portfolio site using Bootstrap 4, jQuery, scss, pug based on BEM methodology. Project built with gulp.
                        li Created and integrated into site the html5 2D game on WebGL. In development was used PixiJS engine.

                li #[b Lucky-Labs] (July 2015 – January 2018) #[br]
                    b QA Engineer
                    ul
                        li Manual testing of Web projects.
                        li Test automation using Behat and Protractor + Cucumber/Jasmine.
                        li Writing and executing test cases and checklists.
                        li Analyzing of technical documentation.
                        li Bug reporting in bug tracking system.
                        li Taking part in bug fixing (html/css).

                li #[b Ukrtelecom] (February 2015 – July 2015) #[br]
                    b Business process development specialist for IT department
                    ul
                        li Preparation of technical documentation.
                        li Analysis, design and implementation of business processes.
                        li Administration of the CRM system:
                            ul
                                li Establishment of new services;
                                li Testing of new and existing services (Functional and GUI testing);
                                li Program support of existing services;
                                li Customer Support.

                li #[b JTalks (JCommune Project)] (September 2014 – July 2015) #[br]
                    b Software Test Engineer (freelance)
                    ul
                        li Manual testing.
                        li Bug reports creation in bug tracking system (Jira).
                        li Working with Data Base in DBeaver.
                        li Writing test documentation.

        div(class="cv_separator") Education
        div(class="cv_text")
            ul
                li 2012-2013 − T. Shevchenko Kyiv National University, #[br]
                    b Mechanics and Mathematics Faculty, #[br]
                    | specialty #[b "theoretical and applied mechanics, applied mathematics"], full-time   education. Master's degree.
                li 2008-2012 − T. Shevchenko Kyiv National University, #[br]
                    b Mechanics and Mathematics Faculty, #[br]
                    | specialty #[b "engineer"], full-time education. Bachelor’s degree;
            br
            b Additional education:
            ul
                li 2017 #[b HTML5] and #[b JavaScript courses] (as result, I’ve created the HTML5 game);
                li 2016 #[b Testing courses] for preparing to ISTQB;
                li 2013-2014 #[b Testing Software courses] (SkillUp company);
                li 2013-Present #[b English classes.]

        div(class="cv_separator") Language skills
        div(class="cv_text")
            ul
                li Ukrainian − native;
                li Russian − fluent;
                li English – intermediate.

        div(class="cv_separator") Additional information
        div(class="cv_text")
            | I am fond tennis and interested in “Apple” company and everything related to it (software, products, technology, history of professional development);
