extends  template

append info
    script( src="../node_modules/pixi.js/dist/pixi.js")
    script( src="../node_modules/howler/dist/howler.js")

block content
    block canvas
        div.canvas
            script( src="js/game.js")

