extends  template

append info
    script(defer, src="../node_modules/pixi.js/dist/pixi.js")
    script(defer, src="../node_modules/howler/dist/howler.js")

block content
    div.canvas
        script(defer, src="js/game.js")



