include head/head
include header/header
include footer/footer

doctype html
html(lang="ru")

    block head
        head
            block info
                +head({
                    "title": "Home project",
                    "author": "Dima Nazdratenko",
                    "description": "Site CV"
                })

        body
            div(class="wrapper")
                block header
                    +header()

                block content
                    div(class="content")

                block footer
                    +footer()

            block vendors
                script( src="../node_modules/jquery/dist/jquery.slim.min.js")
                script( src="../node_modules/popper.js/dist/umd/popper.min.js")
                script( src="../node_modules/bootstrap/dist/js/bootstrap.min.js")

            block js
                script( src="js/main.js")

