nav {
  width: 100%;
  flex: 0 0 auto;

  a:hover{
    opacity: .65;
  }

  .navbar-nav li {
    a {
      font-size: 20px;
      color: $header_color !important;
    }
    .dropdown-menu {
      border-top-style: none;
      a {
        padding-left: 8px;
        padding-right: 8px;

        &:hover {
          background-color: $header_background_color !important;
        }
      }
    }
  }
}