.cv{
  width: 60%;
  margin: 50px;
  flex: 1 0 auto;

  h1{
    text-align: center;
    font-weight: 700;
    font-size: 180%;
  }

  &_separator{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    background-color: #d2ffd2;
    border: 1px solid #1b1e21;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    font-weight: 700;
    position: relative;

    //&_animate{
    //  transform: rotate(360deg) translateX(700px);
    //  transition: transform 1s linear;
    //}
  }

  &_text{
    font-size: 140%;
    padding: 10px;
    line-height: 1.2;

    li {
      list-style: disc outside;
      margin-left: 40px;
    }
  }

}