body {
  background-color: #FAFAFA;
}

a {
  color: #fff;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #323232;
  color: #fff;
  font-family: sans-serif;
  border-radius: 20px;
}

.header .header__section {
  display: flex;
  align-items: center;
}

.header .header__section .header__logo {
  padding: 4px 20px;
}

.header .header__section .header__logo:hover {
  opacity: .65;
}

.header .header__section .header__item {
  padding: 0 20px;
  font-size: 20px;
  margin-left: 5px;
}

.header .header__section .header__item:hover {
  border-radius: 4px;
  opacity: .65;
}

.header .header__section .header__button {
  cursor: pointer;
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
