mixin footer()
    footer(class="footer")
        div(class="footer_social")
            a(href="https://www.linkedin.com/in/dima-nazdratenko-55340888" target="_blank")
                img(src="assets/site/social_icons/linkedin.svg" alt="LinkedIn")
            a(href="https://github.com/DimaNazdratenko/Diploma-HTML5" target="_blank")
                img(src="assets/site/social_icons/github.svg" alt="GitHub")
            a(href="https://www.facebook.com/DimaNazdratenko" target="_blank")
                img(src="assets/site/social_icons/facebook.svg" alt="Facebook")
            a(href="https://www.instagram.com/hitman333/" target="_blank")
                img(src="assets/site/social_icons/instagram.svg" alt="Instagram")
        div(class="footer_copyright") © Dima Nazdratenko, 2017