mixin footer()
    footer(class="footer")
        div(class="container")
            div(class="footer_social")
                a(href="#")
                    img(src="../assets/site/social_icons/linkedin.svg" alt="")
                a(href="#")
                    img(src="../assets/site/social_icons/github.svg" alt="")
                a(href="#")
                    img(src="../assets/site/social_icons/facebook.svg" alt="")
                a(href="#")
                    img(src="../assets/site/social_icons/instagram.svg" alt="")
            div(class="footer_copyright") © Dima Nazdratenko, 2017