.footer {
  width: 100%;
  height: auto;
  flex: 0 0 auto;
  text-align: center;
  background-color: $header_background_color;
  color: $header_color;

  &_social {
    padding: 10px 0;
    a {
      padding: 0 5px;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  &_copyright {
    padding-bottom: 10px;
  }
}